html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#s2 {
  background-color: #004e96;
  position: absolute;
  height: 100%;
  border-radius: 0%;
}

.side,
.sidex,
.us {
  width: 82px;
  position: relative;
  color: white;
}
.side:hover,
.act {
  color: #004e96;
  background-color: white;
}
.us {
  top: 40%;
}

.cbb {
  border-bottom: 1px solid #d3d3d3;
  box-shadow: none;
  border-radius: 0;
}

.cbt {
  border-top: 1px solid #d3d3d3;
  box-shadow: none;
  display: flex;
  border-radius: 0;
}

.redo {
  border: none;
  background: none;
  :hover {
    cursor: pointer;
  }
}

.card {
  box-shadow: none;
}

.r1:hover {
  background-color: rgb(230, 225, 225);
  border-radius: 50%;
}

.mid {
  border-radius: 0;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#sel {
  border-radius: 0;
  box-shadow: none;
  :hover {
    cursor: pointer;
    background-color: rgb(212, 209, 209);
  }
}

.dp {
  border-radius: 50%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.fbl {
  margin-top: -9vh;
}

.log {
  border-radius: 50%;
}

.tg {
  color: grey;
}

.vd {
  color: #004e96;
  :hover {
    cursor: pointer;
  }
}

.cp {
  border-radius: 80%;
}

.ind {
  color: green;
  margin-left: -10%;
}

.wel {
  height: 100%;
  width: 100%;
  position: absolute;
}

#b1 {
  color: white;
  background-color: #004e96;
}

#b1:hover {
  color: #004e96;
  background-color: white;
}

.cp {
  cursor: pointer;
}

.modtop {
  background-color: #004e96;
  height: 15vh;
  color: white;
}

.gradient-avatar {
  margin-top: -10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 50%;
  }

  &:before {
    top: 0;
    background: white;
  }

  &:after {
    bottom: 0;
    background: #004e96;
  }

  &__image {
    border-radius: 50%;
    z-index: 1;
  }
}

#so {
  background-color: #004e96;
  color: white;
}
#so:hover {
  color: #004e96;
  background-color: white;
  font-weight: 500;
}

.mrend {
  transform: translate(30%, 0%);
  transition: all 4s ease-in;
  transition-delay: 4s;
  z-index: 9999;
  opacity: 1;
  margin-top: 10%;
}

.mr {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
