html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#s2{
  background-color:  #004e96;
  position: absolute;
  height: 100%;
}

.side,.sidex,.us{
  width: 90px;
  position: relative;
  color: white;
}
.side:hover,.act{
  color: #004e96;
  background-color:  white;
}
.us{
  top:40%;
}

.cbb{
  border-bottom: 1px solid #D3D3D3;
  box-shadow: none;
  display: flex;
}

.cbt{
  border-top: 1px solid #D3D3D3;
  box-shadow: none;
  display: flex;
}